body {
  background-image: url(/Landing-Page/bg-desktop.svg);
  background-color: rgb(80, 53, 155);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 15%;
  margin-left: 10%;
}

.image img {
  height: 400px;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif; /* Use Poppins para os títulos */
  color: white;
}

p {
  font-family: "Open Sans", sans-serif; /* Use Open Sans para parágrafos */
  color: white;
  font-size: 20px;
}

.conteudo {
  margin-left: 60px;
}

.buton a {
  background-color: white;
  display: inline-block;
  flex-direction: column;
  padding: 15px 70px 15px 70px;
  border-radius: 50px;
  margin: 10px;
  line-height: 30px;
  margin-left: 0px;
  -webkit-box-shadow: -2px 15px 22px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 15px 22px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 15px 22px 1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-in;
}

.menu {
  margin: 20px 20px;
}

.buton a:hover {
  color: white;
  background-color: rgb(113, 40, 175);
  transition: all 0.2s ease-in;
  scale: 1.1;
}
